@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/jugadores/CalcularPromedioDeGol">

    <div>
        Partidos: <input type="text" name="partidos" value="@ViewBag.Partidos" />
    </div>
    <div>
        Goles: <input type="text" name="goles" value="@ViewBag.Goles" />
    </div>

    <input type="submit" value="Calcular" />
</form>

<div>
    <span>
        <strong>
            Promedio de Gol:
        </strong>
        @ViewBag.PromedioDeGol
    </span>
</div>
