@model Clase3.MVC.Dominio.Entidades.Poder

<h1>Editar </h1>
@using (Html.BeginForm("EditarPoder", "Poder", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div>
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre)
    </div>
    @if (string.IsNullOrEmpty(ViewBag.Mensaje))
    {
        <div class="alert alert-danger">
            @ViewBag.Mensaje
        </div>
    }
    <div>
        <input type="submit" value="Editar" />
    </div>
}

