@model List<Clase3.MVC.Dominio.Entidades.TipoPoder>
@{
    ViewBag.Title = "Tipo de Poderes";
}
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Accion
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Ver", "Detalle", "TipoPoderes", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", "TipoPoderes", new { id=item.Id })
            </td>
        </tr>
    }
</table>

