@using Clase7.EF.IslaDelTesoro.Data.Entidades
@model List<CategoriaTesoro>

@{
    ViewData["Title"] = "Categorias Tesoro";
}
<table>
    <tr>
        <th>IdCategoriaTesoro</th>
        <th>Nombre</th>
        <th>Operacion</th>
    </tr>
    @foreach (CategoriaTesoro categoria in Model)
    {
        <tr>
            <td>@categoria.IdCategoriaTesoro</td>
            <td>@categoria.Nombre</td>
            <td><a href="/CategoriasTesoros/Eliminar/@categoria.IdCategoriaTesoro">@categoria.Nombre</a></td>
        </tr>
    }
</table>