@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clase7.EF.IslaDelTesoro.Data.Entidades.Ubicacion
@{
    ViewData["Title"] = "Editar Ubicacion";
}

<h1>Editar Ubicaciones</h1>



<form action="/Ubicacion/Editar" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div>
        Nombre: <input type="text" name="Nombre" value="@Model.Nombre" />
    </div>
    <input type="submit" value="Guardar" />
</form>
