@using SistemaDeCadenasAlimenticias.Data.EF
@model Sucursal

@{
    ViewBag.Title = "Agregar Sucursal";
}

<form action="/Sucursales/Agregar" method="post">

    <div>
        Cadena: 
        <select name="IdCadena">
            @foreach (Cadena cadena in ViewBag.Cadenas)
            {
                <option value="@cadena.Id">@cadena.RazonSocial</option>
            }
        </select>
    </div>
    <div>
        Direccion:
        <input type="text" asp-for="Direccion" value="@Model.Direccion" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div>
        Ciudad:
        <input type="text" name="Ciudad" value="@Model.Ciudad" />
        <span asp-validation-for="Ciudad" class="text-danger"></span>
    </div>

    <input type="submit" value="Grabar Nueva Sucursal" />
</form>