@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Clase de MVC - Juego de Rol</h1>
    <p><a href="/TipoPoderes">Tipo de Poderes</a></p>
</div>
