@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clase de MVC - Juego de Rol</h1>
    <p><a href="/TipoPoderes">Tipo de Poderes</a></p>
    <p><a href="/Poder">Poderes</a></p>
</div>
